.card {
    --background: linear-gradient(to left, #f500ac 0%, #8d01ff 100%);
    display:flex;
    align-items: center;
    justify-content: center;
    margin:auto;
    margin-top:250px;
    width: 190px;
    height: 254px;
    padding: 5px;
    border-radius: 1rem;
    overflow: visible;
    background: #8d01ff;
    background: var(--background);
    position: relative;
    z-index: 1;
   }
   body{
    background-color: #181818;
   }
   
   .card::after {
    display:flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    content: "";
    top: 30px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transform: scale(0.8);
    filter: blur(25px);
    background: #8d01ff;
    background: var(--background);
    transition: opacity .5s;
   }
   
   .card-info {
    --color: #181818;
    background: var(--color);
    color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: visible;
    border-radius: .7rem;
   }
   
   .card .title {
    display:flex;
    align-items:center;
    justify-content: center;
    font-weight: bold;
    letter-spacing: .1em;
    font-size:25px;
   }
   
   /*Hover*/
   .card:hover::after {
    opacity: 0;
   }
   
   .card:hover .card-info {
    color: #f500ac;
    transition: color 1s;
   }
   